flake8==3.8.4
Flask==1.1.2
flatbuffers==1.12
grpcio==1.32.0
gunicorn==19.9.0
h5py==2.10.0
importlib-metadata==2.0.0
isort==5.7.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.3
joblib==1.0.0
jsonify==0.5
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.2
nbformat==5.1.2
numpy==1.19.2
numpydoc==1.1.0
olefile==0.46
openpyxl==3.0.6
packaging==20.9
pandas==1.0.1
pandocfilters==1.4.3
pickleshare==0.7.5
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pywin32-ctypes==0.2.0
regex==2020.11.13
requests==2.25.1
scikit-learn==0.23.2
seaborn==0.11.1
six==1.15.0
spyder==4.2.1
spyder-kernels==1.10.1
webencodings==0.5.1
Werkzeug==1.0.1
win-inet-pton==1.1.0
zipp==3.4.0
